<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Brian Arriaga</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/styles.css') }}"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento"
			rel="stylesheet"
		/>
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	</head>
	<body>
		<div class="top-container">
			<img
				class="top-cloud"
				src="{{ url_for('static', filename='images/cloud.png') }}"
				alt="cloud"
			/>
			<div class="title-text">
				<h1>I'm Brian.</h1>
				<h2>a <span class="pro">pro</span>grammer.</h2>
			</div>
			<img
				class="bottom-cloud"
				src="{{ url_for('static', filename='images/cloud.png') }}"
				alt="cloud"
			/>
			<img
				class="city"
				src="{{ url_for('static', filename='images/city.png') }}"
				alt="city-img"
			/>
		</div>

		<div class="middle-container">
			<div class="profile">
				<img
					src="{{ url_for('static', filename='images/brian.png') }}"
					alt="brian-profile-img"
				/>
				<h2>Hello There.</h2>
				<p class="intro">I am an Web Developer and Systems Engineer.</p>
			</div>
			<hr />
			<div class="skills">
				<h2>My Skills.</h2>
				<div class="skill-row">
					<img
						class="left-img"
						src="{{ url_for('static', filename='images/technical.png') }}"
						alt="technical-img"
					/>

					<h3>Technical Proficiency and Innovation</h3>
					<p>
						My journey into the world of software development began during my
						university studies, where I delved deeply into programming and
						technology. Over the years, I've developed a strong proficiency in
						several key technologies, including Django, Angular, React, and
						HTMX. This diverse skill set has equipped me to tackle a wide range
						of development projects, pushing the boundaries of what's possible
						in software engineering.
					</p>
				</div>
				<div class="skill-row">
					<img
						class="right-img"
						src="{{ url_for('static', filename='images/experience.png') }}"
						alt="experience-img"
					/>

					<h3>Experience Across Industries</h3>
					<p>
						My professional experiences, notably including a significant tenure
						at Citi, have exposed me to the nuances of software development in a
						corporate setting. At Citi, I was involved in projects that required
						not only technical expertise but also a keen understanding of
						business processes and client needs. This role sharpened my ability
						to develop software that is not only technically sound but also
						aligned with business goals.
					</p>
				</div>
				<div class="skill-row">
					<img
						class="left-img"
						src="{{ url_for('static', filename='images/learning.png') }}"
						alt="learning-img"
					/>

					<h3>Foundational Education and Continuous Learning</h3>
					<p>
						My university studies laid the groundwork for my career in systems
						engineering and software development. The rigorous curriculum and
						hands-on projects prepared me for the challenges of the tech
						industry. Beyond formal education, I am committed to continuous
						learning, constantly updating my skills to keep pace with
						technological advancements. This dedication ensures that I bring the
						most current and effective solutions to my work.
					</p>
				</div>
				<div class="skill-row">
					<img
						class="right-img"
						src="{{ url_for('static', filename='images/solving.png') }}"
						alt="solving-img"
					/>

					<h3>Solving Complex Technical Challenges</h3>
					<p>
						I excel at diagnosing and solving complex technical problems, a
						skill that has been crucial in my roles across different sectors. My
						methodical approach to debugging and problem-solving ensures that
						issues are not just temporarily fixed but are resolved in a way that
						strengthens the overall system. This capability has made me a
						valuable asset to my teams and projects.
					</p>
				</div>
			</div>
			<hr />
			<div class="contact-me">
				<h2>Get In Touch</h2>
				<h3>If you love coding as much as I do.</h3>
				<p class="contact-message">
					Passionate about coding as much as I am? Let's discuss the latest in
					Django, Angular, React, and HTMX! We can share coding insights and
					tackle challenging problems together.
				</p>
				<a class="btn" href="mailto:brian.arriaga@gmail.com">CONTACT ME</a>
			</div>
		</div>

		<div class="bottom-container">
			<a
				class="footer-link"
				href="https://www.linkedin.com/in/brian-arriaga-s-28845b138/"
				>LinkedIn</a
			>
			<a class="footer-link" href="https://twitter.com/BAXTOR95">Twitter</a>
			<a class="footer-link" href="https://github.com/BAXTOR95/">Github</a>
			<p class="copyright">© 2024 Brian Arriaga</p>
		</div>
	</body>
</html>
