{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-md-10 col-lg-8">
			<h1 class="text-center mb-4">Add a New Movie</h1>

			{% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}

            {{ render_form(form, novalidate=True, form_inline_classes='needs-validation' , button_map={'submit': 'btn btn-primary'}) }}

			<div class="text-center mt-4">
				<a href="{{ url_for('home') }}" class="btn btn-outline-secondary"
					>See all movies</a
				>
			</div>
		</div>
	</div>
</div>
{% endblock %}
